/**************************************************面板设计*******************************************************/
#mainPane
{
    -fx-border-radius: 12 12 12 12;
    -fx-background-radius: 12 12 12 12;
    -fx-border-color:transparent;
    -fx-background-color:white;

}
#topMainPane
{
    /*-fx-background-color: transparent;*/
    -fx-border-radius: 12 12 12 12;
    -fx-background-radius: 12 12 12 12;
    -fx-border-color:black;
    /*-fx-background-insets: 12;*/
    /*-fx-border-color:black;*/

}
#pane
{
    -fx-background-color:#F9FAFB;
    -fx-border-color: transparent;
    -fx-border-radius: 12 12 0 0;
    -fx-background-radius: 12 12 0 0;

}

#contentPane
{
    -fx-background-color:#F9FAFB;
    -fx-border-color: transparent;
    -fx-border-radius: 0 0 12 12 ;
    -fx-background-radius: 0 0  12 12;

}


#titlebar
{

    -fx-border-color: transparent transparent gray transparent;

    -fx-max-height: 40;
    -fx-min-height: 40;

    -fx-border-radius: 12 12 0 0;
    -fx-background-radius: 12 12 0 0;
    -fx-background-color: white;

}

#titlebarL
{
    -fx-border-color: transparent;
    -fx-background-color: transparent;

    -fx-max-height: 40;
    -fx-min-height: 40;

    -fx-border-radius: 12 0 0 0;
    -fx-background-radius: 12 0 0 0;

}

#titlebarR
{
    -fx-border-color: transparent;
    -fx-background-color: transparent;

    -fx-max-height: 40;
    -fx-min-height: 40;

    -fx-border-radius:0 12 0 0;
    -fx-background-radius: 0 12 0 0;
}



#tabLabel
{
    -fx-background-color: transparent;
    -fx-min-height: 5em;
    -fx-max-height: 5em;
    -fx-min-width: 10em;
    -fx-max-width: 10em;
}

#barIcon
{
    -fx-background-color: transparent;
    -fx-max-height: 35;
    -fx-max-width: 35;
    -fx-min-height: 35;
    -fx-min-width: 35;
    -fx-background-radius: 12;

}

#barIcon:hover
{
    -fx-background-color:#E5E7EB;
    -fx-background-radius: 12;
    -fx-max-height: 35;
    -fx-max-width: 35;
    -fx-min-height: 35;
    -fx-min-width: 35;
    -fx-opacity: 1;

}

#barIcon:pressed
{
    -fx-background-color:#E5E7EB;
    -fx-background-radius: 12;
    -fx-max-height: 35;
    -fx-max-width: 35;
    -fx-min-height: 35;
    -fx-min-width: 35;
    -fx-opacity: 0.8;
}


#emptybarIcon
{
    -fx-background-color: transparent;
    -fx-max-height: 35;
    -fx-max-width: 35;
    -fx-min-height: 35;
    -fx-min-width: 35;
    -fx-background-radius: 12;

}
#emptybarIcon:hover
{
    /*-fx-background-color:#E5E7EB;*/
    /*-fx-background-radius: 12;*/
    /*-fx-max-height: 35;*/
    /*-fx-max-width: 35;*/
    /*-fx-min-height: 35;*/
    /*-fx-min-width: 35;*/
}

/**************************************************面板设计*******************************************************/



#text1
{
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;

    -fx-font-size: 2em; /* 12 */
    -fx-text-fill: black;

}

#text2
{
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;

    -fx-font-size: 1em; /* 12 */
    /*-fx-text-fill: #828282;*/
    -fx-text-fill: black;

}

#pcbInBox
{
    -fx-background-color:#60A5FA;
    /*-fx-border-color: #1D4ED8;*/
}

#pcbInBox0
{
    -fx-background-color:#E5E7EB;
    /*-fx-border-color: #1D4ED8;*/
    -fx-border-color:White ;

}



#pcbInBox1
{
    -fx-background-color:#34d399;
    /*-fx-border-color: #1D4ED8;*/
    -fx-border-color: white;

}

#pcbInBox2
{
    -fx-background-color:#60A5FA;
    /*-fx-border-color: #1D4ED8;*/
    -fx-border-color: white;

}
#pcbInBox3
{
    -fx-background-color:#fcd34d;
    /*-fx-border-color: #1D4ED8;*/
    -fx-border-color: white;

}

#memoryInBox
{
    -fx-background-color:#10B981;
    /*-fx-border-color: #047857;*/
}

#memoryInBox1
{
    -fx-background-color:#10B981;
    /*-fx-border-color: white;*/
}


#deviceInBox
{
    -fx-background-color:#F472B6;
    /*-fx-border-color:#BE185D ;*/
}

#deviceInBox1
{
    -fx-background-color:#F472B6;
    -fx-border-color: white;
}


#diskInBox
{
    -fx-background-color:#A78BFA;
    /*-fx-border-color: #6D28D9;*/
}

#diskInBox1
{
    -fx-background-color:#A78BFA;
    /*-fx-border-color: #6D28D9;*/
}



#emptyBox
{
    -fx-background-color:White;
}

#memoryOutBox
{
    -fx-background-color:White;
    -fx-border-color: #047857;
}

#diskOutBox
{
    -fx-background-color:White;
    -fx-border-color: #6D28D9;
}


#deviceOutBox
{
    -fx-background-color:White;
    -fx-border-color:#BE185D ;
}

#pcbOutBox
{
    -fx-background-color:White;
    -fx-border-color: #1D4ED8;
}
